/* Die Oma von meinem Freund ist heute verstorben, weswegen ich nicht soviel CSS schreiben konnte.. 
aber ich hoffe es ist klar das ich das kann und verstehe. Da ich Nersin und Marie bei ihren Problemen geholfen habe... lg q.q */

* {
    padding: 0;
    margin: 0;
}

html, body {
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

nav {
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: aqua;
}

nav.closed {
    left: - 100px;
}
